.home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;

  a {
    margin-right: 20px;
    text-decoration: inherit;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;

    &:hover {
      text-decoration: underline;
    }
  }

  .home__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 13vw;

    & > .MuiSvgIcon-root {
      margin-right: 20px;
    }
  }
}
